In [1]:
#7 

str_x = "I am Urvish lathiya . Urvish is a student"

cnt = str_x.count("Urvish")

print(cnt)

2

In [3]:
for num in range(10):
    for i in range(num):
        print (num, end=" ")

    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [6]:
number = 3459
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 3459
9 5 4 3

In [7]:
number = 7895
print("Given Number:", number)
while number > 0:
    digit = number % 10
    number = number // 10
    print(digit , end="")

Given Number: 7895
5987

In [14]:
for i in range(1 , 11):
    for x in range(1, 11):
        print(i * x, end ="  ")
    print("\t\t")

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

In [15]:
num1 = int(input("enter the first number"))
num2 = int(input("Enter the second number"))

res = num1 * num2
print("multipication is :" , res)

multipication is : 1125

In [17]:
print("my","name", "is", "urvish" , sep = '**')

my**name**is**urvish

In [19]:
num = 15

print('%o' % num)

17

In [21]:
num = 154.25487

print('%.2f' % num)

154.25

In [22]:
numbers = []

for i in range(0 ,5):
    print("Enter the number" , i ,":")
    item = float(input())

    numbers.append(item)

print("user list:" , numbers)

Enter the number 0 :
Enter the number 1 :
Enter the number 2 :
Enter the number 3 :
Enter the number 4 :
user list: [521.0, 5211.0, 212.0, 521.0, 221.0]

In [29]:
str1 , str2 , str3 = input("enter three string:").split()

print('Name1:' , str1)

print('Name2:' , str2)

print('Name3:' , str3)

ValueError: not enough values to unpack (expected 3, got 1)

In [33]:
i =1
while i<=10:
    print(i)

    i += 1

1
2
3
4
5
6
7
8
9
10

In [35]:
print("number pattern :")

row = 7

for i in range(1 ,row + 1 , 1):
    for j in range(1 , i+1 ):
        print(j , end =" ")

    print(" ")

number pattern :
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [1]:
s = 0
n = int(input("Ener the number "))

for i in range(1 , n+1 , 1):
    s += i
print("\n")
print("sum is :" , s)

sum is : 105

In [2]:
n = 7

for i in range(1,11,1):
    product = n*i
    print(product)

7
14
21
28
35
42
49
56
63
70

In [5]:
numbers = [75,150,845,250,400]

for item in numbers:
    if item >500:
        break
    elif item > 150:
        continue
    elif item % 5 == 0:
        print(item)

75
150

In [1]:
list1 = [10,20,30,40,50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [5]:
list1 = ["m","na","i","ke"]
list2 = ["me","me","s","ly"]
list3 = [i + j for i ,j in zip(list1 , list2)]

print(list3)

['mme', 'name', 'is', 'kely']

In [10]:
numbers = [1,5,7,9,11]

sqr = []
for i in numbers:
    sqr.append(i * i)

print(sqr)

[1, 25, 49, 81, 121]

In [11]:
list1 = ["hello" , "take"]
list2 = ["dear","sir"]

list3 = [x + y for x in list1 for y in list2]
print(list3)

['hellodear', 'hellosir', 'takedear', 'takesir']

In [14]:
n =int(input("enter the number"))
fact = 1
 
for i in range(1, n+1):
    fact = fact * i
 
print("The factorial of ", n, "is :" , end="")
print(fact)

The factorial of  10 is :3628800